/* Override Bootstrap where necessary to match original design */


body {
  font-family: "Inter", Helvetica, sans-serif;
  background-color: #ffffff;
  color: #212121;
}

header {
  background-color: #f3f3e0;
  padding-bottom: 20px;
  width: 100vw; 
  margin-left: calc(-50vw + 50%);
}

.section-spaced {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

h1, h2, h3, h5 {
  font-weight: 600;
}

h1.display-5 {
  font-size: 36px;
  line-height: 44px;
}

h2.h1 {
  font-size: 32px;
  line-height: 40px;
}

h3.text-warning {
  font-size: 35px;
  color: #ff9f45 !important;
}

p.lead {
  font-size: 18px;
  line-height: 28px;
}

p.fs-3 {
  font-size: 24px;
  font-weight: 600;
}

.features-section img {
  width: 80px;
  height: auto;
}

.text-primary {
  color: #133e87 !important;
}

.btn-primary {
  background-color: #133e87;
  border-color: #133e87;
}

.btn-outline-primary {
  color: #133e87;
  border-color: #133e87;
}

.btn-outline-primary:hover {
  background-color: #133e87;
  color: #fff;
  border-color: #133e87;
}

footer {
  background-color: #f3f3e0;
  font-size: 14px;
  padding-bottom: 20px;
  width: 100vw; 
  margin-left: calc(-50vw + 50%);
}
