<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | CalcMyWAM</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='final-style.css') }}">
    <style>
      body {
        background-image: url('{{ url_for("static", filename="img/background.jpg") }}');
      }
    </style>
  </head>
  <body>

    <!-- Header -->
    <header class="border-top pt-2 pb-2 px-5">
      <div class="d-flex justify-content-between align-items-center mb-1 pt-0">
        <img src="{{ url_for('static', filename='img/logo.png')}}" width="135.917" height="60">
      </div>
    </header>

    <!-- Main Content -->
    <main>
      <div class="container p-5 my-5 text-center blur">
        <h1 class="login-signup-header">Login</h1>
        <!-- Login Form -->
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p style="margin-left: -160px; margin-bottom: 0px;">{{ form.email.label }}</p>
          <p>{{ form.email }}</p>
          <p class="input-field">{% for error in form.email.errors %}{{error}}{% endfor %}</p>
          <p style="margin-left: -129.75px; margin-bottom: 0px;">{{ form.password.label }}</p>
          <p>{{ form.password }}</p>
          <p class="input-field">{% for error in form.password.errors %}{{error}}{% endfor %}</p>
          {{ form.submit(class="btn btn-success btn-login-signup") }}
        </form>
        <br>

        <!-- Flashed Messages (Invalid Email/Password OR Successful Account Creation) -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="flashed">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <br>

        <!-- Links to Sign Up -->
        <p>Don't have an account? <a href="{{ url_for('sign_up') }}">Sign up here</a></p>
      </div>
    </main>
  </body>
</html>